-- Foreign Key Constraint Disable's for Table: [dbo].[titleauthor]
Print 'Foreign Key Constraint Disable''s for Table: [dbo].[titleauthor]'
ALTER TABLE [dbo].[titleauthor] NOCHECK CONSTRAINT [FK__titleauth__au_id__0CBAE877]
ALTER TABLE [dbo].[titleauthor] NOCHECK CONSTRAINT [FK__titleauth__title__0DAF0CB0]


-- Insert scripts for table: titleauthor
PRINT 'Inserting rows into table: titleauthor'
INSERT INTO [dbo].[titleauthor] ([au_id], [title_id], [au_ord], [royaltyper]) VALUES (N'172-32-1176', N'PS3333', 1, 100)
INSERT INTO [dbo].[titleauthor] ([au_id], [title_id], [au_ord], [royaltyper]) VALUES (N'213-46-8915', N'BU1032', 2, 40)
INSERT INTO [dbo].[titleauthor] ([au_id], [title_id], [au_ord], [royaltyper]) VALUES (N'213-46-8915', N'BU2075', 1, 100)
GO


