-- Foreign Key Constraint Disable's for Table: [dbo].[pub_info]
Print 'Foreign Key Constraint Disable''s for Table: [dbo].[pub_info]'
ALTER TABLE [dbo].[pub_info] NOCHECK CONSTRAINT [FK__pub_info__pub_id__20C1E124]


-- Insert scripts for table: pub_info
PRINT 'Inserting rows into table: pub_info'
GO


