-- Check Constraint Disable's for Table: [dbo].[authors]
Print 'Check Constraint Disable''s for Table: [dbo].[authors]'
ALTER TABLE [dbo].[authors] NOCHECK CONSTRAINT [CK__authors__zip__014935CB]
ALTER TABLE [dbo].[authors] NOCHECK CONSTRAINT [CK__authors__au_id__7F60ED59]


-- Insert scripts for table: authors
PRINT 'Inserting rows into table: authors'
INSERT INTO [dbo].[authors] ([au_id], [au_lname], [au_fname], [phone], [address], [city], [state], [zip], [contract]) VALUES (N'172-32-1176', N'White', N'Johnson', '408 496-7223', N'10932 Bigge Rd.', N'Menlo Park', 'CA', '94025', 1)
INSERT INTO [dbo].[authors] ([au_id], [au_lname], [au_fname], [phone], [address], [city], [state], [zip], [contract]) VALUES (N'213-46-8915', N'Green', N'Marjorie', '415 986-7020', N'309 63rd St. #411', N'Oakland', 'CA', '94618', 1)
INSERT INTO [dbo].[authors] ([au_id], [au_lname], [au_fname], [phone], [address], [city], [state], [zip], [contract]) VALUES (N'238-95-7766', N'Carson', N'Cheryl', '415 548-7723', N'589 Darwin Ln.', N'Berkeley', 'CA', '94705', 1)
GO


